.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}
  

.productDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;
    margin: 3rem 3rem;
}

img {
    width: 50%;
}

.category {
    text-transform: uppercase;
}

.price {
    font-size: 2rem;
    font-weight: 600;
}

.boton {
    padding: 1rem 1rem;
    border: none;
    background-color: #f5e1ff;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 200;
}

.boton:hover {
    background-color: #25142d;
    color: #f5e1ff;
    font-weight: 400;
    
}