
li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

h4 {
    font-size: 3rem;
    font-weight: 200;
}

nav {
    width: 80%;
}

.nav-item {
    padding: 0 1rem 0 1rem;
    margin: 0;
}


.brandContainer {
    display: flex;
    gap: 1rem;
}
.logoNavbar {
    width: 2rem;
    height: 2rem;

}

@media (max-width: 992px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        display: inline-block;
        margin: 0.5rem; /* Puedes ajustar este valor según necesites */
    }
}


