.cartProducts {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px;
    border-color: black;
    text-align: center;
}

.prodName {
   text-align: left;
   font-size: 20px;
   font-weight: 600;
}