.countContainer {
    align-items: center;
}

.itemCount {
    width: 13rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    column-gap: 0.5rem;
    row-gap: 5rem;
    align-items: center;
    margin-bottom: 1rem;
    
}

button {
    padding: 0 1rem;
    border: none;
    background-color: #efefef;
    font-size: 20px;
    border-radius: 50px;
}

button:hover {
    background-color: black;
    color: white;
    
}

h4 {
    font-size: 2rem;
    text-align: center;
}

.addToCart {
    padding: 0.5rem 2rem;
}